<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wenger Systems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Level dashboard</h1>
	<h3>All levels</h3>
	<table>
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Name</th>
	            <th></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${levels.empty}">
	            <td colspan="2">No Levels Available</td>
	        </tr>
	        <tr th:each="level : ${levels}">
	            <td><span th:text="${level.id}">id</span></td>
	            <td><a th:href="${level.id}"><span th:text="${level.name}">name</span></a></td>
	            <td><a th:href="@{{id}/edit(id=${level.id})}"><button type="button">Edit</button></a></td>
	            <td>
	            	<form action="#" th:object="${level}" th:action="@{/level/delete}" th:method="delete">
	            		<input type="hidden" id="level" name="level" th:value="${level.id}">
	            		<input type="submit" value="Delete"/>
	            	</form>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<h3>Add new level</h3>
	<form action="#" th:object="${level}" th:action="@{/level/create}" method="post">
        <p>name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>