<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>Edit school</h3>
	<form action="#" th:object="${registration}" th:action="@{update}" th:method="put">
        <p>Student:
	        <select th:field="*{student.id}" id="student" onChange="onstatechange(this)" class="infobox">
			    <option value="0">Select a student</option>
			    <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.id} + ' ' + ${student.name} + ' ' + ${student.forename}"></option>
			</select>
		</p>
        <p>Class:
	        <select th:field="*{c.id}" id="c" onChange="onstatechange(this)" class="infobox">
			    <option value="0">Select a class</option>
			    <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
			</select>
		</p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</body>
</html>