<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wenger Systems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Teacher dashboard</h1>
	<h3>All teachers</h3>
	<table>
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Name</th>
	            <th>Forename</th>
	            <th></th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${teachers.empty}">
	            <td colspan="2">No Teacher Available</td>
	        </tr>
	        <tr th:each="teacher : ${teachers}">
	            <td><span th:text="${teacher.id}">id</span></td>
	            <td><a th:href="${teacher.id}"><span th:text="${teacher.name}">name</span></a></td>
	            <td><a th:href="${teacher.id}"><span th:text="${teacher.forename}">forenamename</span></a></td>
	            <td><a th:href="@{{id}/edit(id=${teacher.id})}"><button type="button">Edit</button></a></td>
	            <td>
	            	<form action="#" th:object="${teacher}" th:action="@{/teacher/delete}" th:method="delete">
	            		<input type="hidden" id="teacher" name="teacher" th:value="${teacher.id}">
	            		<input type="submit" value="Delete"/>
	            	</form>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<h3>Add new teacher</h3>
	<form action="#" th:object="${teacher}" th:action="@{/teacher/create}" method="post">
        <p>name: <input type="text" th:field="*{name}"/></p>
        <p>forename: <input type="text" th:field="*{forename}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>