<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wenger systems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">Wenger SMS</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Hello</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Dashboards
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		          <a class="dropdown-item" href="/school/dashboard">School</a>
		          <a class="dropdown-item" href="/school_year/dashboard">School year</a>
		          <a class="dropdown-item" href="/quarter/dashboard">Quarter</a>
		          <a class="dropdown-item" href="/level/dashboard">Level</a>
		          <a class="dropdown-item" href="/class/dashboard">Class</a>
		          <a class="dropdown-item" href="/student/dashboard">Student</a>
		          <a class="dropdown-item" href="/teacher/dashboard">Teacher</a>
		          <a class="dropdown-item" href="/registration/dashboard">Registration</a>
		          <a class="dropdown-item" href="/teaching/dashboard">Teaching</a>
		          <a class="dropdown-item" href="/subject/dashboard">Subject</a>
		          <a class="dropdown-item" href="/report_card/dashboard">Report card</a>
		          <a class="dropdown-item" href="/report_card_detail/dashboard">Report card detail</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
	
</body>
</html>