<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wenger Systems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>School dashboard</h1>
	<h3>All schools</h3>
	<table>
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Name</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${schools.empty}">
	            <td colspan="2">No Schools Available</td>
	        </tr>
	        <tr th:each="school : ${schools}">
	            <td><span th:text="${school.id}">id</span></td>
	            <td><span th:text="${school.name}">name</span></td>
	            <td>
	            	<form th:object="${school}" th:action="@{/school/delete}" th:method="delete">
	            		<input type="submit" value="Delete"/>
	            	</form>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<h3>Add new school</h3>
	<form action="#" th:action="@{/school/create}" th:object="${school}" method="post">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</body>
</html>